{$BASE_URL}

reverse_proxy {$UI}:3000 {
	header_up Host {host}
	header_up X-Real-IP {remote}
}
handle /g/* {
	uri strip_prefix /g
	reverse_proxy {$API}:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

